p.article {
	margin: 5px 0;
	font-size: 14px;
	color: #9a9a9a;
}
p.article span {
	font-weight: 700;
	color: #000;
}

.position-inner .position-inner-left {
	width: 50%;
	float: left;
	padding-right: 50px;
}
.position-inner .position-inner-right {
	width: 50%;
	float: right;
}

.position-inner-section {
	margin-bottom: 15px;
}
.position-inner-section .variantes {
	margin-bottom: 15px;
}
.position-inner-section h5 {
	font-size: 	14px;
	color: #000;
}
.position-inner-section p {
	font-size: 14px;
	margin: 5px 0;
	line-height: 1.6;
}
.position-inner-section a {
	font-size: 14px;
	color: #333774;
}
.position-inner-section p span.fat {
	font-weight: 700;
}
.position-inner-section p span.expected {
	color: #fca400;
}
.position-inner-section p span.dash {
	color: #e7e7e7;
	margin: 0 8px;
}

.price-holder .prices {
	display: inline-block;
	font-size: 24px;
	margin-right: 25px;
	line-height: 38px;
	vertical-align: top;
}
.price-holder .old-price {
	font-weight: 300;
	color: #666666;
	position: relative;
}
.price-holder .old-price:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
	margin-top: -1px;
	background: #000;
}
.price-holder .new-price {
	font-weight: 700;
	color: #000;
}
.price-holder .count {
	display: inline-block;
	background: #f3f3f3;
	height: 38px;
	padding: 0 15px;
	margin-right: 15px;
}
.price-holder .count input[type="text"] {
	height: 100%;
	width: 25px;
	text-align: center;
	margin: 0 2px;
	background: none;
}
.price-holder .minus,
.price-holder .plus {
	width: 11px;
	height: 11px;
	cursor: pointer;
}
.price-holder .btn-green {
	color: #ffffff;
}

.btns-section a img {
	margin-top: -4px;
	margin-right: 8px;
 }


.owl-has_pagination {
  height: auto;
  text-align: center;
}


.main-carousel {
  height: auto;
}

.owl-has_pagination .special__item {
  text-align: left;
}

.owl-has_pagination .owl-controls {
  text-align: center;
  padding-left: 28px;
  padding-right: 28px;
  position: relative;
  display: inline-block;
  margin-top: 22px;
}
.product-slider .product-item {
  width: 100%;
}
.owl-has_pagination .owl-controls .owl-page {
  width: 5px;
  height: 5px;
  margin-left: 12px;
  margin-right: 12px;
  background: #c4c4c4;
  display: inline-block;
}

.owl-has_pagination .owl-controls .owl-page.active {
  background: #373a72;
}


.owl-has_pagination .owl-controls .owl-prev {
  position: absolute;
  top: 4px;
  left: 0;
  width: 1px;
  border: 10px solid transparent;
  border-right-color: #c4c4c4;
}

.owl-has_pagination .owl-controls .owl-prev:hover {
  border-right-color: #373a72; 
}

.owl-has_pagination .owl-controls .owl-next {
  position: absolute;
  top: 4px;
  right: 0;
  width: 1px;
  border: 10px solid transparent;
  border-left-color: #c4c4c4;
}

.owl-has_pagination .owl-controls .owl-next:hover {
  border-left-color: #373a72; 
}


.position-footer {
  margin-top: 30px;
  padding-top: 25px;
  border-top: 1px solid #e6e6e6;
}

.position-footer_left {
  float: left;
  width: 50%;
}

.position-footer .back-to_list {
  font-size: 14px;
  color: #373a72;
}

.position-footer .back-to_list:before {
  content: '';
  border: 4px solid transparent;
  border-right-color: #bababa;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}

.position-footer_right {
  float: right;
  width: 50%;
  padding-left: 35px;
}

.position-footer_right .socials-likes {
  float: left;
}

.position-footer_right .need-help {
  float: right;
}

.position-footer_right .need-help span {
  color: #666666;
  font-size: 14px;
}

.position-footer_right .need-help .need-help_link {
  color: #373a72;
  font-size: 14px;
}


@media screen and (max-width: 1199px) {
  .position-footer_right .socials-likes {
    float: none;
    text-align: right;
  }

  .position-footer_right .need-help {
    float: none;
    margin-top: 10px;
    text-align: right;
  }
}

@media screen and (max-width: 767px) {

  .content-section {
    padding-right: 15px;
    padding-left: 15px;
  }

  .position-footer_left {
    float: none;
    text-align: center;
    width: 100%;
  }

  .position-footer_right {
    width: 100%;
    float: none;
    margin-top: 10px;
    padding-left: 0;
  }
  
  .position-footer_right .socials-likes {
    text-align: center;
  }

  .position-footer_right .need-help {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .content-section {
    padding: 20px 0;
  }
}
